.register {
  
  background-color: #0056b3;
  background-size: cover;
}

.register {
  
  background-image: url(h.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 
}

:root {
  --content-width: 1000px;
  --breakpoint: 799px;
  --nav-height: 90px;
  --nav-background: rgb(79, 127, 182);
  --nav-font-color: #ffffff;
  --link-hover-color: #2581DC;
}


.navigation {
  height: var(--nav-height); 
  background: var(--nav-background); 
  z-index: 1; 
}


.brand {
  position: absolute;
  top: 0; 
  left: 0; 
  padding: 20px; 
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand img {
    width: 90px;
    margin-top: -20px;
}



.nav-container {
  max-width: 1000px; 
  margin: 0 auto;
}


nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
  position: relative;
  right: -300px;
}

nav a,
nav a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px; 
  background: transparent; 
  color: #ffffff; 
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  background: #2581DC; 
  color: #ffffff; 
}

nav a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}


nav ul li {
  min-width: 190px;
  margin-top: 15px;
}

nav ul li a {
  padding: 15px;
  line-height: 20px;
}


.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--nav-background);
}
.nav-dropdown li{
    right: 0;
}


.nav-mobile, .mobile-close {
  display: none;
  position: absolute;
  top: 0;
  right: 0; 
  height: 70px; 
  width: 70px;
  font-size: 1.5rem;
  color: darkblue;
  cursor: pointer;
  font-size: 3rem;
} 
.nav-mobile:hover,
.mobile-close:hover{
    color: var(--link-hover-color);
} 
@media(max-width: 800px){
    .nav-list{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--nav-background);
        transition: top 1s ease;
        display: none;
    }
    .nav-list .mobile-close{
       display: block;
       position: absolute;
       align-items: center;
       justify-content: center;
       top: 20px;
       right: 20px;
    }
    .nav-mobile {
        display: block;
    }
    
    .nav-dropdown {
      position: absolute;
      display: none;
      z-index: 1;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
      background-color: darkblue;
}
    .nav-dropdown li {
      right: -1;
      background: var(--nav-background);
    }
}


#register, #signin, #book {
  width: 320px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background: whitesmoke;
  border-radius: 4px;
  font-size: 14px;
}

#register, #signin, #book {
    width: 320px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background: whitesmoke;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 250px;
}

#register h1,#signin h1,#book h1 {
    color: #0f2027;
    text-align: center;
}

#register button,#signin button, #book button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    background: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}


.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 90%;
}

.input-control select {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 80%;
}

.input-control input:focus,
.input-control select:focus {
    outline: 0;
}

.input-control.success input,
.input-control.success select {
    border-color: green;
}


.input-control.error input,
.input-control.error select {
    border-color: red;
}


.input-control .error {
    color: red;
    font-size: 7px;
    margin-top: 4px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  line-height: 1.2;
  font-size: 0.87rem;
  
}
.footer {
  background-color: rgb(79, 127, 182);
  color: whitesmoke;
  text-align: center;
  padding: 10px 0; 
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: 999; 
}
